{% load static %}
{% load custom_filters %}

  <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
    <div class="container">  
      <a class="navbar-brand" href="{% url 'index' %}"><img  src="{% static 'assets_2/img/maple_bear.svg' %}" alt="" style="max-height: 40px;">  Maple Bear</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{% url 'index' %}">Home</a>
          </li>
          {% if user.is_authenticated %}
                
          {% if user|has_group:"Chinook" %}
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{% url 'filtered_chat' %}">Chinook</a>
          </li>
          {% endif %}
          {% if user|has_group:"Adm" %}
          <li class="nav-item dropdown">
              <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gerenciar</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                  <a class="nav-link" href="{% url 'controle_escolas' %}">Controle Escolas</a>
              </div>
          </li>
          {% endif %}

                          
          {% if user|has_group:"Glex" %}
          <li class="nav-item dropdown">
              <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Glex</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                  <a class="nav-link" href="{% url 'home_glex' %}">Home Glex</a>
                  <a class="nav-link" href="{% url 'table_forms_glex' %}">Formulários</a>
              </div>
          </li>
          {% endif %}
          
          {% if user|has_group:"Planificador" %}
          <li class="nav-item dropdown">
              <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Planificador</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                  <a class="nav-link" href="{% url 'buscar_escolas' %}">Buscar Escolas</a>
              </div>
          </li>
          {% endif %}

          {% if user|has_group:"Ouvidoria" %}
          <li class="nav-item dropdown">
              <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ouvidoria</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                  <a class="nav-link" href="{% url 'search_escolas_reclamacao' %}">Reclamações</a>
              </div>
          </li>
          {% endif %}

          {% if user|has_group:"Contratos" %}
          <li class="nav-item dropdown">
            <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contratos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
              <a class="nav-link" href="{% url 'busca_candidato' %}">Buscar Candidatos</a>
              <a class="nav-link" href="{% url 'form_candidato' %}">Formulário PCF</a>
              <a class="nav-link" href="{% url 'upload_template' %}">Importar Modelo de Contrato</a>
            </div>
          </li>
          {% endif %}

          {% if user|has_group:"FDMP" %}
          <li class="nav-item dropdown">
            <a class="nav-link page-scroll nav-link-ded dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Escolas</a>
            <div class="dropdown-menu" style="min-width: 200px;">
              <a class="nav-link" href="{% url 'busca_escolas' %}">Buscar Escolas</a>
              <a class="nav-link" href="{% url 'form_fdmp' %}">Formulário FDMP</a>
            </div>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{% url 'logout' %}">Sair</a>
          </li>
          {% endif %}  

        </ul>              
      </div>
    </div>
  </nav> 